on:
  push:
    branches:
      - develop
name: "Build and Release"
jobs:
  build:
    name: Build and Release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.10.4"
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test
      - run: |
          flutter build ios --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload
      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/ios/iphoneos/Runner.app"
          tag: v1.0.${{github.run_number}}
          token: ${{secrets.TOKEN}}
      - name: upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{secrets.FIREBASE_IOS_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: testers
          file: build/ios/iphoneos/Runner.app
